body,section,div,header,footer {
    margin: 0;
}

/*HEADBAR STYLING */
#head-bar {
    position: fixed;
    z-index: 1;
    width: 98.7vw;
    height: 70px;
}
#head-bar img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
/*HEADBAR COMPLETED*/
/*MADE BY  SANJEEV KUMAR RAY*/




/*secrion1 started*/
#section1 {
    background: url(https://image.freepik.com/free-photo/abstract-bokeh-background-with-dark-color-tone_41412-80.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}
#head {
    position: absolute;
    z-index: 0;
    top: 35vh;
    width: 98.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#head h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}
#head p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
/*section1 design complete       SOME CHANGES CAN BE MADE LATER*/
/*MADE BY  SANJEEV KUMAR RAY*/




/*section2 started*/
#section2 {
    height: 100vh;
}
#section2>p {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    padding-top: 40px;
    margin-bottom: 50px;
    font-family: Algerian;
}
#wrap2 {
    display: flex;
    width: 98.5vw;
    flex-direction: row;
    justify-content: space-around;
}
.product {
    height: 400px;
    border-radius: 20px;
}
.product:hover {
    animation: sec2scale 0.8s forwards;
}
@keyframes sec2scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.product img {
    width: 22vw;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.product h5 {
    font-size: 25px;
    text-align: center;
}
.product p {
    width: 22vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -20px;
    font-size: 16px;
}
#product1 {
    background-color: cadetblue;
}
#product2 {
    background-color: rgb(238, 144, 132);
}
#product3 {
    background-color: rgb(155, 238, 162);
}
#product4 {
    background-color: rgb(226, 118, 230);
}
/*section2 design ends .......... pictures should be changed accordingly*/
/*MADE BY  SANJEEV KUMAR RAY*/




/*section3 starts*/
#section3 {
    margin-top: 200px;
    text-align: center;
}
#section3 h1 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 50px;
    font-family: Algerian;
}
#wrap3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work {
    height: 350px;
    padding-bottom: 150px;
}
.work img {
    position: relative;
    width: 40vw;
    height: 350px;
    border-radius: 200px;
}
.work img:hover {
    animation: sec3scale 1s forwards;
}   
@keyframes sec3scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0px 15px 5px lightgrey;
    }
}
.work p {
    font-size: 25px;
    font-weight: 550;
    padding-top: 20px;
}
/* section3 completed. All the images should be changed according to the specific fields.*/
/*MADE BY  SANJEEV KUMAR RAY*/




/*section4 starts*/
#section4 {
    padding-top: 80px;
    text-align: center;
    background-color: bisque;
}
#section4 h1 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 50px;
    font-family: Algerian;
}
#wrap4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0px 70px;
}
.person {
    height: 450px;
    width: 28vw;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 40px;
}
.person:hover {
    animation: sec5col 0.3s forwards;
}
@keyframes sec5col {
    100% {
        background-color: rgb(191, 240, 232);
    }
}
.person img {
    height:150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.person p {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
/*section4 completed. SEE html file for required changes*/
/*MADE BY  SANJEEV KUMAR RAY*/




/*section5 started */
#section5 {
    background: url(http://clipartmag.com/images/black-and-white-borders-clipart-27.png);
    background-size: 30%;
    background-repeat: no-repeat;
    padding-top: 80px;
    text-align: center;
    background-color: rgb(224, 224, 240);
    padding-bottom: 80px;
}
#section5 h1 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 50px;
    font-family: Algerian;
}
#section5 p {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}
/*Section5 finished. Remaining details check in the html document*/
/*MADE BY  SANJEEV KUMAR RAY*/




/*section6 started*/
#section6 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 80px;
}
#section6:hover {
     animation: sec6colchan 0.5s infinite alternate;
}
@keyframes sec6colchan {
    0% {
        background-color: rgb(99, 216, 99);
    }
    100% {
        background-color: rgb(243, 240, 74);
    }
}
#section6 h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
    font-family: Algerian;
}
#wrap6 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.stat {
    width: 20vw;
    text-align: center
}
.stat h3 {
    font-size: 30px;
    font-weight: 600;
    color: blue;
}
.stat p {
    font-size: 20px;
    font-weight: 550;
    color: coral;
}
/*section6 done. for details about the stats check the html docs*/
/*MADE BY SANJEEV KUMAR RAY*/



/*section 7 started*/
#section7 {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#image img {
    width: 70vw;
    height: 100vh;
}
#newsletter {
    text-align: center;
    background-color: lightpink;
}
#newsletter h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 70px;
}
#newsletter p {
    font-size: 25px;
    padding: 30px 0px 50px 0px;
}
#text {
    padding: 10px 60px 10px 10px; 
    margin-bottom: 30px;
    border-radius: 10px;
    outline: none;
}
#btn {
    padding: 15px 30px;
    background-color: gold;
    border-radius: 10px;
    outline: none;
}
/*section 7 finished.  Chamge the picture and the background color as necessary*/
/*MADE BY  SANJEEV KUMAR RAY*/



/*section 8 started*/
#section8 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 200px 0px;
    background-color: lightblue;
}
.card {
    width: 400px;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px 0px 60px 0px;
    border-radius: 15px;
}
.card:hover {
    background-color: goldenrod;
    box-shadow: 5px 5px 5px gray;
}
.card h3 {
    font-size: 40px;
    font-weight: 600;
}
.card p {
    font-size: 25px;
}
.card input {
    padding: 10px 30px;
    outline: none;
    background-color: rgb(132, 247, 241);
    border-radius: 10px;
}
#btn-2 {
    margin-top: 20px;
}
.card input:hover {
    background-color: lightcoral;
}
/*section 8 finished. Colors are not very appropriate. Must be changed accordingly. */
/*MADE BY  SANJEEV KUMAR RAY*/



/* section 9 started*/
#section9 {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/2539402/pexels-photo-2539402.jpeg?cs=srgb&dl=adventure-beautiful-boulders-2539402.jpg&fm=jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    padding: 20px 0px 60px 0px;
}
#section9 h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: Algerian;
}
.forma {
    padding: 20px 100px 20px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}
#forma input:nth-of-type(5) {
    padding-bottom: 60px; 
}
#btn-3 {
    padding: 20px 60px 20px 60px;
}
#btn-3:hover {
    background-color: goldenrod;
}
/*section 9 finished. Change the back pic and the form input accordingly.*/
/*MADE BY SANJEEV KUMAR RAY*/



/*video section started*/
#video {
    height: 100vh;
    text-align: center;
    background-color: lightskyblue;
}
#video video {
    height: 80vh;
    width: 70vw;
    margin-top: 10vh;
}
/* video section finished. I am not adding any video to this section. Any video can be added as per wish.
    Its better to remove the background color and keep it white else do accordingly*/
/*MADE BY SANJEEV KUMAR RAY*/


/*Footer section started*/
#foot {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-around;
    height: 300px;
}
#address h2 {
    padding-top: 30px;
    font-size: 35px;
}
#address p {
    font-size: 20px;
}
#copy-info p {
    font-size: 25px;
    padding-top: 40px;
}
/*Footer section finished*/ 
    /*MADE BY SANJEEV KUMAR RAY*/